body{
	background-color: #302424;
}
.box{
	margin-top: 200px;
    margin-bottom: 100px;
    margin-right: 823px;
    margin-left: 80px;
	color:white;
	border: 3px solid white;
	padding:25px;
 background-color:wheat;
}
img:hover{
	border-radius:50%
}
.box:hover{
	width:500px;
	height:400px;
	transition: width height 2s;
	-webkit-transition:height  width 2s; /* For Safari 3.1 to 6.0 */
     -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg); /* Standard syntax */
	
}

 /* The animation code */
@keyframes example {
    from {width: 400px;}
    to {width: 500px;}
}

/* The element to apply the animation to */
.box:hover {
    width: 500px;
    height: 400px;
    
    animation-name: example;
    animation-duration: 4s;
} 